[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pandas = "*"
sqlalchemy = "*"
python-dotenv = "*"
psycopg2-binary = "*"
pymongo = "*"
dnspython = "*"

[requires]
python_version = "3.7"
