[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pymongo = "*"
dnspython = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.7"
